.geoblacklight-nyu {
  color: #57068c;
}

.geoblacklight-stanford {
  color: #777777;
}

.geoblacklight-restricted {
  color: #B70000;
}

.geoblacklight-public {
  color: #777777;
}

.geoblacklight-documentation {
  @extend .fa, .fa-book;
}