<div class="navbar alert alert-warning" style="margin-bottom:0px;" role="alert">
  <div class="<%= container_classes %>">
    <div style="font-size: .8em;">
    <strong>ⓘ NOTICE:</strong> 
    The Spatial Data Repository (SDR) is slated to be decommissioned in Summer 2026. SDR records from NYU will be made available in <a style="color:#856404;text-decoration:underline;" href="https://ultraviolet.library.nyu.edu/" target="_blank">UltraViolet</a>, NYU's Research Repository. Records from partner institutions can be found via the <a style="color:#856404;text-decoration:underline;" href="https://geoblacklight.org/latest/showcase/" target="_blank">GeoBlacklight Community</a>. Please contact <a style="color:#856404;text-decoration:underline;" href="mhttps://guides.nyu.edu/appointment" target="_blank">NYU Data Services</a> with any questions.</div>
  </div>
</div>