<div class="navbar alert alert-warning alert-dismissible" style="margin-bottom:0px;" role="alert">
  <div class="<%= container_classes %>">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <div style="font-size: .8em;">
      <strong>ⓘ NOTICE:</strong> 
      The records of the Spatial Data Repository (SDR) will be migrating to NYU's <a href="http://ultraviolet.library.nyu.edu/" style="color:#856404;text-decoration:underline;" target="_blank">UltraViolet</a> repository in summer 2026. During this migration, access to the SDR will continue. At the conclusion of the migration SDR contents will be available only on UltraViolet. For questions or concerns, please reach out to Data Services at <a href="mailto:data.services@nyu.edu" style="color:#856404;text-decoration:underline;" target="_blank">data.services@nyu.edu</a>.
    </div>
  </div>
</div>