<footer role='contentinfo'>
  <div id='footer-container'>
    <div id='footer'>
      <div id='footer-links' class='span2'>
        <ul>
          <li><a href='http://library.nyu.edu'>NYU Libraries</a></li>
          <li><a href='http://guides.nyu.edu/dataservices'>Data Services</a></li>

        </ul>
      </div>
      <div id='nyu-libraries-img' class='span2'>
        <%= image_tag 'http://dlib.nyu.edu/aco/images/logos/nyu_short_color.png', alt: '', height: 30 %>
      </div>
      <div id='nyu-data-services-img' class='span2'>
        <%= image_tag 'http://data-services.hosting.nyu.edu/wp-content/uploads/2016/01/dss_newlogo1-short-sz.png', alt: '', height: 30 %>
      </div>

    </div>
  </div>
</footer>
