<footer role='contentinfo'>
  <div id='footer-container'>
    <div id='footer'>
      <div id='footer-links' class='span2'>
        <ul>
          <li><a href='http://library.nyu.edu'>New York University Libraries</a></li>
          <li><a href='http://guides.nyu.edu/dataservices'>Data Services</a></li>
          <li><a href='http://guides.nyu.edu/appointment'>Contact Us</a></li>

        </ul>
      </div>
      <div id='nyu-data-services-img' class='span2'>
        <%= image_tag 'dss_newlogo1-short-sz', alt: '', width: 142, height: 30 %>
      </div>
      <div id='nyu-libraries-img' class='span2'>
        <%= image_tag 'nyu-footer-logo.svg', alt: '', width: 175, height: 30 %>
      </div>

    </div>
  </div>
</footer>
