<footer role='contentinfo'>
  <div id='footer-container'>
    <div id='footer'>
      <div id='footer-links' class='span2'>
        <ul>
          <li><a href='https://library.nyu.edu'>New York University Libraries</a></li>
          <li><a href='https://guides.nyu.edu/dataservices'>Data Services</a></li>
          <li><a href='https://guides.nyu.edu/appointment'>Contact Us</a></li>
        </ul>
      </div>
      <div id='nyu-data-services-img' class='span2'>
        <a href="https://guides.nyu.edu/dataservices">
          <%= image_tag 'dss_newlogo1-short-sz.png', alt: 'Link to Data Services Homepage', height: 30 %>
        </a>
        <br>
        <span>GBLv<%= Settings.VERSION %> SDR v<%= NyuGeoblacklight::VERSION %></span>
      </div>
    </div>
  </div>
</footer>
