<div class="curated-collections">
  <h3><%= @header %></h3>
  <div class="row">
    <% @collections.each do |collection| %>
      <%= render CuratedCollections::CuratedCollectionComponent.new(collection: collection) %>
    <% end %>
  </div>
</div>
