<div class="col-md-6">
  <div class="card-collection">
    <div class="card-block">
      <h4 class="card-title"><%= @collection[:title] %></h4>
      <p class="card-text"><%= @collection[:description] %></p>
    </div>
  </div>
</div>
