<% if document.documentation_download.present? %>
    <%= link_to document.documentation_download[:documentation_download] do %>
        <span class='geoblacklight geoblacklight-documentation'></span>Documentation / Codebook
    <% end %>
<% end %>