<% if document.documentation_download.present? %>
    <%= link_to document.documentation_download['http://schema.org/additionalType'] do %>
        <span class='geoblacklight geoblacklight-documentation'></span>Documentation / Codebook
    <% end %>
<% end %>