<% document ||= @document %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
  </button>
  Thank you for your interest in data from the <%= link_to search_catalog_path({f: {"#{Settings.FIELDS.PART_OF}" => ['2019 Sunset Park LiDAR']}}) do %><b>2019 Sunset Park LiDAR</b><% end %> project.<br><br>
  We would appreciate your feedback on this unique dataset. Please take a moment to fill out <a href="https://nyu.qualtrics.com/jfe/form/SV_8nWc9X5iV2i9xLn" target="_blank">this brief survey</a> telling us a little bit about yourself, how you found the data, and how you are using it.
  Having an accurate idea of how users are accessing and using the data is essential to being able to produce datasets of this magnitude.<br><br>
  For a better sense of what this data looks like, please refer to <a href="https://skfb.ly/6MLCw">this 3D model</a> of a portion of the covered area.<br><br>Users interested in downloading this collection in bulk are encouraged to access the <a href="https://app.globus.org/file-manager?origin_id=73419098-207a-11ea-ab45-0a7959ea6081&origin_path=%2F">Globus endpoint.</a><br><br>Please cite this study using the DOI: <code><a href="https://doi.org/10.17609/4cpx-2h33">doi:10.17609/4cpx-2h33</a></code>
</div>
