<% document ||= @document %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
  </button>
  Thank you for your interest in data from the 2015 Dublin LiDAR project.<br><br>
  For a better sense of what this data looks like in 3D, please refer to <a href="https://youtu.be/qEi2Wo7Bcuk">this video flythrough</a> of a portion of the covered area.<br><br>
  Please cite this study using the DOI: <code><a href="https://doi.org/10.17609/N8MQ0N">doi:10.17609/N8MQ0N</a></code>
</div>
