<% if @document.rights_text %>
  <div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= @document.rights_text.html_safe %></div>
<% end %>
<% if (@document["dct_isPartOf_sm"]) && (@document["dct_isPartOf_sm"].include? ("2015 Dublin LiDAR")) %>
  <%= render 'laefer_notice' %>
<% end %>
<% if (@document["dct_isPartOf_sm"]) && (@document["dct_isPartOf_sm"].include? ("2019 Sunset Park LiDAR")) %>
  <%= render 'laefer_sunset' %>
<% end %>
