$nyu-ultra-violet: #8900e1;
$nyu-dark-violet: #330662;

a {
  color: $nyu-ultra-violet;
  &:hover {
    color: $nyu-dark-violet;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.btn-primary {
  background-color: $nyu-ultra-violet;
}
